<link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Alex+Brush&family=Pacifico&display=swap" rel="stylesheet">

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url(quote.jpg);
  background-repeat: no repeat;
  background-position: center;
  background-size: cover;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

 .Title{
  font-family: 'Alex Brush', cursive;
  color: rgb(0, 0, 0);
  text-decoration: underline;
 }

 .Quote{
  font-family: 'Pacifico', cursive;
  font-style: italic;
  font-size: 35px;
  color: rgb(255, 255, 255);
  border:solid 3px #000000;
  border-style: double;
  padding: 1.2rem;
  border-radius: 25px;
 }

 .Author{
  text-decoration: underline;
 }

 .Generator{
  font-size: 20px;
  border: solid 3px black;
  border-radius: 25px;
  border-style: inset;
 }